@import '_vars.scss';

.details {
    width: 90% !important;
    min-height: 400px!important;
    max-width: 915px;
    max-height: 90%;
    padding: 15px!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    .imgProduto {
        height: 130px;
        width: 220px;
        text-align: center;
    }
    .imgProdutoCarousel {
        width: 220px;
        text-align: center;
    }
    .contentSuperior {
        display: flex;
        height: 130px;
        overflow: hidden;
        margin-top: 10px;
        div {
            overflow: hidden;
        }
    }
    .contentInferior {
        display: flex;
        height: auto;
        margin-top: 15px;
        .carousel {
            width: 180px;
            text-align: center;
        }
        .contentTabs {
            width: 100%;
            padding-left: 15px;
        }
        @media screen and (max-width: 760px) {
            .contentTabs {
                &:last-child {
                    padding: 24px;
                    overflow: overlay;
                    max-height: 250px;
                }
            }
        }
    }
    .alice-carousel {
        top: 0px!important;
        position: initial!important;
        padding: 0!important;
        width: 170px;
        .__stage-item {
            text-align: center;
        }
        .alice-carousel__dots {
            width: 100%;
        }
    }
    @media screen and (max-width: 760px) {
        .alice-carousel {
            width: auto;
            }
        }
    
    .contentCard {
        padding: 10px;
        hr {
            opacity: 0.1;
        }
        h3 {
            color: $primary;
            text-transform: uppercase;
            margin-bottom: -5px;
        }
    }
    .cardPoints {
        padding: 10px;
        margin-top: 15px;
        height: 110px;
        background: #80808021;
        display: flex;
        flex-direction: row-reverse;
    }
    .imgCaroussel {
        width: auto;
    }
    .fa-times {
		font-size: 30px;
		height: 30px;
        position: absolute;
        padding: 10px;
        right: 1%;
        top: -5px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.54);
	}
    .points {
        font-size: 5rem;
        position: relative;
        top: -60px;
        left: 10%;
        line-height: 0px;
        letter-spacing: -10px;
        span {
            font-size: 18px;
            margin-left: 8px;
            letter-spacing: initial;
        }
    }
    @media screen and (max-width: 760px) {
        .cardPoints {
            padding: 10px;
            margin-top: 0;
            height: 130px;
            .switchDetails {
                top: 42px;
                left: calc( 50% - 15px );
            }
        }
        .points {
            top: -70px;
            left: -3px;
        }
    }
    .contentCard {
        .detailsButton {
            position: relative;
            color: $primary;
            border: 1px solid $primary!important;
            min-height: 30px!important;
            font-size: 12px;
            padding: 4px 25px;
            left: 60%;
            &:hover {
                background-color: $primary;
                color: white;
            }
        }
    }
    .tabs {
        .TabIndicator-root-129 {
            width: 100%!important;
            height: 2px;
        }
        .TabIndicator-colorPrimary-115 {
            background-color: #e15b1e !important;
        }
        .MuiTabScrollButton-root-116 {
            flex:0 0 10px
        }
    }
    
}
@media screen and (max-width: 500px){
	.details{
		width: 100% !important;
        height: 100% !important;
        max-height: 100% !important;
        padding: 25px 20px !important;
        .contentInferior {
            .contentTabs {
                padding: 0;
                overflow: overlay;
                max-height: 250px;
                position: relative;
                top: 0px!important;
                z-index: 9999;
                width: calc(100% - 160px) !important;
            }
            .carousel {
                width: 160px !important;
                text-align: center;
            }
        }
        .imgProdutoCarousel {
            width: 160px!important;
        }
        .alice-carousel__stage-item {
            width: 160px!important
        }
        .alice-carousel {
            top: 0px !important;
            position: initial !important;
            padding: 0 !important;
            width: 160px!important;
        }
	}
}