@import 'vars';

.masterContainer {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.barContainer {
	z-index: 999;
}

.tabContainer {
	position: fixed;
    top: 40px;
    width: 100%;
}

.cardsContainer {

}



.cardLoaderContainer {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.cardContainer {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	background-color: rgba(242, 232, 222, 0.28);
	// margin-bottom: 20px;
	// .alice-carousel__stage-item {
	// 	// width: 360px!important
	// }
}
@media screen and (max-width: 760px){
	.cardContainer {
		.alice-carousel {
			padding: 40px;
			margin-top: 20px;
		}
		.alice-carousel__prev-btn {
			display: none;
		}
		.alice-carousel__next-btn{
			display: none;
		}
	}
}
.cardItem2 {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 10px;
	// width: 360px;
}
.cardItem {
	margin-top: 20px;
	// width: 360px;
}


.containerList {
	margin: 0px;
}

.modalStart {
	text-align: center;
	color: $neutral;
	width: 70% !important;
	min-height: 60% !important;
	height: auto !important;
	.fa-times {
		font-size: 30px;
		height: 30px;
		position: absolute;
		right: 1%;
		cursor: pointer;
	}
	.header {
		margin-bottom: 10px;
		.title {
			color: $primary;
			font-weight: normal;
			margin-bottom: 5px;
			font-size: 36px;
		}
		.subtitle {
			margin: 0;
			font-size: 24px;
			padding-bottom: 25px;
		}
	}
	button {
		background-color: $primary;
		width: 200px;
		&:hover {
			background-color: #a74418;
		}
	}
	.boxChips {
		overflow-y: auto;
		max-height: 245px;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.controlPoints {
		border-right: 1px solid #87878726;
		height: 245px;
		margin-bottom: 15px;
		font-size: 14px;
		.circularProgress {
			color: #e15b1e;
			box-shadow: inset 0px 0px 0px 9px #e15b1e4f;
			border-radius: 50%;
			width: 100px !important;
			height: 100px !important;
			margin-top: 20px;
		}
		.pointsProgress {
			background-color: lightgray;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			padding-top: 8px;
			text-align: center;
			margin-left: calc(-38px + 50%);
			top: -93px;
			position: relative;
			span {
				font-size: 30px;
				color: black;
			}
			.points {
				position: relative;
				top: -10px;
			}
		}
	}
	.myservices {
		display: flex;
		border: 1px solid $primary;
		height: 53px;
		margin: 5px 30px;
		img {
			margin-right: 10px;
		}
		.descriptService {
			width: 195px;
			padding-top: 3px;
			label {
				float: left;
				color: $primary;
			}
			i {
				font-size: 13px;
				float: left;
				margin-right: 5px;
				margin-top: 5px;
			}
			@media screen and (max-width: 760px)  {
				i { 
					display: none; 
				}
			}
			span {
				float: left;
				font-size: 0.9rem;
			}
		}
		.pointsService {
			width: 70%;
			background-color: lightgray;
			margin: 10px;
			margin-left: 20px;
			color: black;
			label {
				position: relative;
				top: -23px;
				span {
					font-size: 54px;
				}
			}
		}
	}
}

@media screen and (max-width: 500px){
	.modalStart {
		width: 100% !important;
	}
}
