@import './_vars.scss';

.app-main {
    // position: relative;
    // left: 0;
    // margin-left: 230px;
    // min-height: 100%;
}

.headerBar {
    background-color: #FF5722;
    color: white;
    height: 40px;
    min-height: 40px !important;
    position: fixed !important;
    top: 0px;
    width: 100%;
    padding: 0px;
    button {
        right: 20px;
    }
}

.tabs {
    background-color:white;
    button {
        border: 1px solid #80808017;
        border-top: none;
    }
    .MuiTab-selected-122 {
        color: black !important;
    }
    .TabIndicator-colorPrimary-130 {
        background-color: $primary !important;
    }
}

.alice-carousel {
    // padding-left: 70px;
    // padding-right: 70px;
    // position: fixed;
    // top: 25px;
    // height: 100%;

    .alice-carousel__prev-btn, .alice-carousel__next-btn {
        position: absolute;
        left: 15px;
        right: 15px;
        top: 50%;
    }

    .alice-carousel__wrapper {
        border: none;
    }
    .alice-carousel__dots {
        position: relative;
        bottom: 0px;
        z-index: 100;
        .__active {
            background-color: $primary;
        }
    }
    .midiaCard {
        height: 35px;
        padding-top: 50%;
    }
    .fa-times {
		font-size: 30px;
		height: 30px;
		position: absolute;
		right: 1%;
		cursor: pointer;
	}
    #cardOriginal {
        margin: 10px;
        //max-height: 405px;
        hr {
            opacity: 0.1;
        }
        .contentCard {
            height: 160px;
            h3 {
                color: $primary;
                text-transform: uppercase;
                margin-bottom: -5px;
            }
            .caption {
                height: 50px;
            }
        }
        .cardPoints {
            padding: 0;
            background: #80808021;
            margin: -10px 12px;
            display: flex;
            flex-direction: row-reverse;
            .invalido {
                opacity: 0.5
            }
        }
        .points {
            font-size: 5rem;
            position: relative;
            top: -30px;
            left: 10%;
            line-height: 0px;
            letter-spacing: -10px;
            span {
                font-size: 18px;
                margin-left: 8px;
                letter-spacing: initial;
            }
        }
        .contentCard {
            .detailsButton {
                position: relative;
                color: $primary;
                border: 1px solid $primary!important;
                min-height: 30px!important;
                font-size: 12px;
                padding: 4px 25px;
                left: calc(100% - 83px);
                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }
        }
    }
    .switchedit {
        .span {
            color: #4bb20d;
        }
    }
    .MuiSwitch-bar-278{
        background-color: #4bb20d !important;
    }
}