@import './_vars.scss';

.app-main {
    // position: relative;
    // left: 0;
    // margin-left: 230px;
    // min-height: 100%;
}

.headerBar {
    background-color: #FF5722;
    color: white;
    height: 40px;
    min-height: 40px !important;
    position: fixed !important;
    top: 0px;
    width: 100%;
    padding: 0px;
    button {
        right: 20px;
    }
}

.tabs {
    background-color:white;
    button {
        border: 1px solid #80808017;
        border-top: none;
    }
    .MuiTab-selected-122 {
        color: black !important;
    }
    .TabIndicator-colorPrimary-130 {
        background-color: $primary !important;
    }
}

.chips-root {
    // display: 'flex';
    // padding-bottom: 8px;
    margin-right: 16px;
    // justify-content: 'center';
    .chip {
        // width: '160px',
        // margin: '0px',
        // justifyContent: 'left'
    }
    .chipDesk {
        // height: 20,
        // height: 30;
        // background-color: rgba(225, 91, 30, 0.33);
    }
}



