@import '_vars.scss';


.modalNews {
	text-align: center;
	color: $neutral;
	width: 80% !important;
	min-height: 40% !important;
	height: auto !important;
	.header {
		margin-bottom: 15px;
		.title {
			color: $primary;
			font-weight: normal;
			margin-bottom: 5px;
			font-size: 36px;
		}
		.subtitle {
			margin: 0;
			font-size: 24px;
		}
	}
	button {
		background-color: $primary;
        width: 300px;
        margin: 10px;
		&:hover {
			background-color: #a74418;
		}
	}
    .extraPoints {
        margin-top: 15px;
        margin-bottom: 15px;
        .title{
            color: $primary;
			font-weight: normal;
            margin: -10px;
            font-size: 48px;
        }
        .subtitle {
			margin: 0;
			font-size: 24px;
		}
    }
    .yourServices {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: 300px;
    }
	.myservices {
		display: flex;
		border: 1px solid $primary;
		height: 82px;
		margin: 5px 30px;
		img {
			margin-right: 10px;
		}
		.descriptService {
			width: 240px;
            padding-top: 10px;
            margin-left: 15px;
			label {
				float: left;
                color: $primary;
                font-size: 30px;
			}
			i {
				font-size: 13px;
				float: left;
				margin-right: 5px;
				margin-top: 15px;
			}
			span {
				float: left;
                font-size: 0.9rem;
                margin-top: -15px;
			}
        }
        .infosChannel{
            text-align: left;
            vertical-align: middle;
			padding: 7px;
			overflow: hidden;
		}
		@media screen and (max-width:760px){
			.infosChannel{
				display: none
			}
		}
		.pointsService {
			width: 30%;
			background-color: lightgray;
			margin: 10px;
			margin-left: 0px;
			color: black;
			label {
				position: relative;
				top: -10px;
				span {
					font-size: 54px;
				}
			}
		}
	}

	@media screen and (max-width:760px){
		.myservices{
			margin: 0px;
		}
	}
}

